# This code is part of Tergite
#
# (C) Copyright Chalmers Next Labs 2024
#
# This code is licensed under the Apache License, Version 2.0. You may
# obtain a copy of this license in the LICENSE.txt file in the root directory
# of this source tree or at http://www.apache.org/licenses/LICENSE-2.0.
#
# Any modifications or derivative works of this code must retain this
# copyright notice, and modified files need to carry a notice indicating
# that they have been altered from the originals.


stages:
  - setup
  - lint
  - format
  - tests
  - application_run

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PYTHON_VERSION: "3.10"
  REDIS_PORT: 6378

setup:
  stage: setup
  image: python:${PYTHON_VERSION}
  script:
    # Install redis and dependencies
    - apt-get update
    - apt-get install redis ffmpeg libsm6 libxext6 -y
    # Install project dependencies
    - pip install --upgrade pip
    - pip install .
    - pip install pytest black==24.10.0 requests-mock==1.11.0 pylint
  artifacts:
    paths:
      - .cache/pip
      - .venv  # Save virtual environment (optional, depending on your setup)
  cache:
    paths:
      - .cache/pip

lint:
  stage: lint
  image: python:${PYTHON_VERSION}
  dependencies:
    - setup  # Reuse setup artifacts
  script:
    # Run linter and make it fail under 7.0
    - pylint tergite_autocalibration --fail-under=7.0
  cache:
    paths:
      - .cache/pip

format:
  stage: format
  image: python:${PYTHON_VERSION}
  dependencies:
    - setup  # Reuse setup artifacts
  script:
    # Run formatter
    - black --check tergite_autocalibration
  cache:
    paths:
      - .cache/pip

tests:
  stage: tests
  image: python:${PYTHON_VERSION}
  dependencies:
    - setup  # Reuse setup artifacts
  script:
    # Run Redis server
    - redis-server --daemonize yes --port "$REDIS_PORT"
    # Run tests
    - pytest tergite_autocalibration
  cache:
    paths:
      - .cache/pip

application_run:
  stage: application_run
  image: python:${PYTHON_VERSION}
  dependencies:
    - setup  # Reuse setup artifacts
  script:
    # Run Redis server
    - redis-server --daemonize yes --port "$REDIS_PORT"
    # Create empty .env file
    - touch .env
    # Load configuration
    - acli config load -t fc8a
    # Reset Redis
    - echo "y" | acli node reset -a
    # Run the calibration chain
    - acli calibration start -r "$CI_PROJECT_DIR/datasets/fc8_unit_tests_6-15" -n rabi_oscillations
    # Verify output
    - |
      OUTPUT_FILE="$CI_PROJECT_DIR/datasets/fc8_unit_tests_6-15/rabi_oscillations.png"
      if [ -f "$OUTPUT_FILE" ]; then
        echo "Output file $OUTPUT_FILE exists. Application ran successfully."
      else
        echo "Error: Output file $OUTPUT_FILE not found."
        exit 1
      fi
  cache:
    paths:
      - .cache/pip
