colorama==0.4.6
h5netcdf==1.0.2
h5py==3.7.0
Jinja2==3.1.2
numpy==1.25.2
qblox-instruments==0.11.1
qcodes==0.39.1
quantify-core==0.7.3
quantify-scheduler==0.17.1
redis==5.0.0
scikit-learn==1.2.2
toml==0.10.2
